<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/home" class="tab">
      <span class="material-symbols-outlined icon-margin"> home </span>
      Home
    </a>
    <a routerLink="/catalog" class="tab">
      <span class="material-symbols-outlined icon-margin"> two_pager </span>
      Catalog
    </a>
    <div class="cart">
      <a routerLink="/cart" class="tab">
        <span class="material-symbols-outlined icon-margin">
          shopping_cart
        </span>
        Cart
      </a>
    </div>
  </div>
  <div class="right">
    <a href="" class="tab">
      <span class="material-symbols-outlined icon-margin"> person </span>
      Sign In
    </a>
    <a href="" class="cta tab">
      <span class="material-symbols-outlined icon-margin"> person_add </span>
      Register
    </a>
  </div>
</div>