.container {
    display: flex;
    flex-direction: column;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    padding: 25px 200px;
  }
  
  .filters button {
    width: 100px;
  }
  
  .products {
    margin: 0 100px;
    border-top: 2px solid #999;
    list-style: none;
  }
  
  .product-item {
    border-bottom: 2px solid #999;
  }

  .button {
    background-color: gray;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: none;
    margin-right: 30px;

    &.active {
      font-weight: bold;
      color: violet;
      border: 2px solid;
    }
  }