<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="container">
    <div class="filters">
      <a class="button" (click)="filter='Heads'">Heads</a>
      <a class="button" (click)="filter='Arms'">Arms</a>
      <a class="button" (click)="filter='Torsos'">Torsos</a>
      <a class="button" (click)="filter='Bases'">Bases</a>
      <a class="button" (click)="filter=''">All</a>
    </div>
  
    <ul class="products">
      <li class="product-item" *ngFor="let product of getFilteredProducts()">
        <app-product-details [product]="product" (buy)="addToCart(product)"></app-product-details>
      </li>
    </ul>
</div>